.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 6vh;
  padding: 2rem 3rem;

  &__items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-left: 4rem;
    gap: 4rem;

    &-links {
      display: flex;
      align-items: center;
      list-style-type: none;
      flex-wrap: wrap;
      gap: 2rem;

      a {
        color: #4f5361;
        font-size: 14px;
      }
    }

    &-buttons {
      flex-wrap: wrap;

      .login-btn {
        margin-right: 1rem;
        font-size: 14px;
      }

      .register-btn {
        font-size: 14px;
        background: #0f1b4c;
        color: #fff;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
      }
    }
  }
}

// toggle menu (do not show) > 900px

.open-menu {
  display: none;
}

.navbar__mobile {
  margin-left: auto;

  &-menu {
    z-index: 1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(18, 42, 253, 0.867);
    cursor: pointer;

    svg {
      width: 70%;
      height: 70%;
      color: #fff;
    }
  }

  .mobile__links {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: rgb(255, 255, 255);

    svg {
      cursor: pointer;
      width: 35px;
      height: 35px;
      color: rgba(18, 41, 253, 0.678);
      font-size: 24px;
      font-weight: bold;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0.5rem 1rem;
    }

    ul {
      list-style-type: none;
      margin: 5rem 2rem;

      li {
        padding: 1rem 0;

        a {
          font-size: 1.3rem;
          color: #4f5361;
        }
      }
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

// show toggle menu < 900px
@media screen and (max-width: 900px) {
  .navbar__items {
    display: none;
  }
}
